body {
	width: 229px;
}

table {
	border-collapse: collapse;
	font-size: 0.85em;
}

table,td {
	border: 1px solid gray;
}

td {
	padding: 4px;
	text-overflow: ellipsis;
}

td.item-name {
	text-align: right;
}

.content-div {
	width: 220px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
ul li {
	list-style: none;
}

* {
	font-family: '微软雅黑';
	padding: 5px;
	color: #777;
	margin: 0px;
	font-size: 12px;
	line-height: 1.2em;
	color: #444;
	font-size: 14px;
	font-weight: normal;
	padding: 2px;
}

.header {
	font-size: 13px;
	color: #00c;
}

.header2 {
	text-indent: 2.5em;
}

.hidden {
	display: none;
}

#status {
	color: #090;
	font-size: 11px;
}
.copy_right {
	color: #aaa;
	font-size: 11px;
	text-align: center;
	width: 223px;
}

.key_input {
	border:#ccc 1px solid;
	border-radius: 2px 2px 2px 2px;
}