@import '~antd/dist/antd.css';

.App {
  padding: 10px 10px 20px;
}

.xcp-action {
  position: sticky;
  top: 0;
  background: #fff;
  text-align: right;
  padding: 5px 8px 5px 0;
  z-index: 1;
}

.copy_right {
  color: #aaa;
  font-size: 11px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.button-search {
  margin: 5px 0;
}

.clearfix {
  zoom: 1;
}
.clearfix::before,
.clearfix::after {
  display: table;
  content: '';
}
.clearfix::after {
  clear: both;
}
